body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.header {
    background-color: #1F2937;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 200px;
    padding-right: 200px;
}

.header .logo {
    font-weight: bold;
    font-size: 24px;
    color:#F9FAF8;
}

.right-links {
    display: flex;
    gap: 20px;
    font-size:18px;
    color:#E5E7EB
}

.first {
    background-color: #1F2937;
    color: #F9FaF8;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom:100px;
    padding-left: 200px;
    padding-right: 200px;
    gap:40px;
}

.first .left {
    display:flex;
    flex-direction: column;
    gap:10px;
    flex: 0 1 auto;
}

.first .left button {
    background-color: #2596be;
    color:white;
    border-radius: 15px;
    width:fit-content;
    padding:7px;
}

.first .left #title {
    font-size: 48px;
    font-weight: 900;
}

.first .right {
    display:flex;
}

.first .right img {
    height:auto;
    width:500px;
    flex: 0 1 auto;
}

.second {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding-left: 200px;
    padding-right: 200px;
}

.second .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.second .plants {
    display:flex;
    gap:30px;
}

.second .plants .li {
    display:flex;
    flex-direction: column;
    flex: 1 1 0;
}

.second img {
    width: 100px;
    height:auto;
    flex: 0 1 auto;
    align-self: center;
}

.second .text {
    text-align: center;
}
